<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "src/test/resources/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  <test name="Test">
    <classes>
      <class name="com.testNGverify.TestNGTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
